<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kxai.qms.core.dao.AlbumDao">

    <!-- 根据专辑ID删除专辑 -->
    <delete id="deleteByAlbumId" parameterType="int">
        DELETE FROM qms_album
        WHERE album_id = #{albumId}
    </delete>

    <!-- 根据专辑ID查找专辑 -->
    <select id="findByAlbumId" parameterType="int" resultType="Album">
        SELECT
            album_id    AS albumId,
            album_name  AS albumName,
            artist_id   AS artistId,
            image_uri   AS imageUri,
            description,
            copyright,
            create_time AS createTime
        FROM qms_album
        WHERE album_id = #{albumId}
    </select>

    <!-- 计算列表对象数量 -->
    <select id="countListByQuery" parameterType="map" resultType="int">
        SELECT count(0) FROM qms_album
        <where>
            1 = 1
            <if test="null != queryAlbumName and queryAlbumName != ''">
                AND album_name LIKE concat('%', #{queryAlbumName}, '%')
            </if>
        </where>
    </select>

    <!-- 根据条件查找专辑列表 -->
    <select id="findListByQuery" parameterType="map" resultType="Album">
        SELECT
        album_id AS albumId,
        album_name AS albumName,
        artist_id AS artistId,
        image_uri AS imageUri,
        description,
        copyright,
        create_time AS createTime
        FROM qms_album
        <where>
            1 = 1
            <if test="null != queryAlbumName and queryAlbumName != ''">
                AND album_name LIKE concat('%', #{queryAlbumName}, '%')
            </if>
        </where>
        ORDER BY album_id DESC
        LIMIT #{offset}, #{limit}
    </select>

    <!-- 保存 -->
    <insert id="save" parameterType="Album">
        INSERT INTO qms_album (album_id, album_name, artist_id, image_uri, description, copyright, create_time) VALUES (#{albumId}, #{albumName}, #{artistId}, #{imageUri}, #{description}, #{copyright}, #{createTime})
    </insert>

    <!-- 修改 -->
    <update id="update" parameterType="Album">
        UPDATE qms_album
        SET album_name = #{albumName}, artist_id = #{artistId}, image_uri = #{imageUri}, description = #{description}, copyright = #{copyright}
        WHERE album_id = #{albumId}
    </update>

    <!-- 根据专辑名查找专辑列表 -->
    <select id="findListByAlbumName" parameterType="String" resultType="Album">
        SELECT
            album_id   AS albumId,
            album_name AS albumName
        FROM qms_album
        WHERE album_name LIKE concat('%', #{albumName}, '%')
        ORDER BY album_id DESC
        LIMIT 10
    </select>

    <!-- 根据艺人ID查找列表 -->
    <select id="findListByArtistId" parameterType="int" resultType="Album">
        SELECT
            album_id    AS albumId,
            album_name  AS albumName,
            artist_id   AS artistId,
            image_uri   AS imageUri,
            description,
            copyright,
            create_time AS createTime
        FROM qms_album
        WHERE artist_id = #{artistId}
        ORDER BY album_id DESC
    </select>
</mapper>