<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kxai.qms.core.dao.AuthenticationDao">

    <!-- 根据专辑ID查找专辑 -->
    <select id="findByAuthenticationId" parameterType="int" resultType="Authentication">
        SELECT
            authentication_id AS authenticationId,
            user_id           AS userId,
            username,
            login_time        AS loginTime,
            login_ip          AS loginIP,
            update_time       AS updateTime
        FROM qms_authentication
        WHERE authentication_id = #{authenticationId}
    </select>

    <!-- 删除过期认证 -->
    <delete id="deleteExpire" parameterType="Date">
        DELETE FROM qms_authentication
        WHERE update_time &lt;= #{expireDate}
    </delete>

    <!-- 更新认证时间 -->
    <update id="updateUpdateTime" parameterType="Authentication">
        UPDATE qms_authentication
        SET update_time = #{updateTime}
        WHERE authentication_id = #{authenticationId}
    </update>

    <!--保存的认证信息-->
    <insert id="save" parameterType="Authentication">
        INSERT INTO qms_authentication VALUES (#{authenticationId}, #{userId}, #{username}, #{loginTime}, #{loginIP}, #{updateTime})
    </insert>
</mapper>