<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kxai.qms.core.dao.CategoryDao">

    <resultMap id="categoryMap" type="Category">
        <id property="categoryId" column="category_id" />
        <result property="categoryName" column="category_name" />
        <result property="parentId" column="parent_id" />
        <result property="imageUri" column="image_uri" />
        <result property="description" column="description" />
        <result property="priority" column="priority" />
        <result property="display" column="is_display" />
        <association property="parent" column="parent_id" javaType="Category" select="findByCategoryId4Oss" />
        <collection property="child" column="category_id" javaType="java.util.HashSet" ofType="Category"
                    select="findListByParentId" />
    </resultMap>

    <!-- 根据分类ID删除分类 -->
    <delete id="deleteByCategoryId" parameterType="int">
        DELETE FROM qms_category
        WHERE category_id = #{categoryId}
    </delete>

    <!-- 根据分类ID查找分类 -->
    <select id="findByCategoryId4Oss" parameterType="int" resultMap="categoryMap">
        SELECT
            *
        FROM qms_category
        WHERE category_id = #{categoryId}
    </select>

    <!-- 根据父分类ID查找列表 -->
    <select id="findListByParentId" parameterType="int" resultMap="categoryMap">
        SELECT
            *
        FROM qms_category
        WHERE parent_id = #{parentId}
        ORDER BY priority ASC, category_id ASC
    </select>

    <!-- 保存 -->
    <insert id="save" parameterType="Category">
        INSERT INTO qms_category (category_id, category_name, parent_id, image_uri, description, priority, is_display) VALUES (#{categoryId}, #{categoryName}, #{parentId}, #{imageUri}, #{description}, #{priority}, #{display})
    </insert>

    <!-- 修改 -->
    <update id="update" parameterType="Category">
        UPDATE qms_category
        SET category_name = #{categoryName}, parent_id = #{parentId}, image_uri = #{imageUri}, description = #{description}, priority = #{priority}, is_display = #{display}
        WHERE category_id = #{categoryId}
    </update>

    <!-- 更新排序 -->
    <update id="updatePriority" parameterType="map">
        UPDATE qms_category
        SET priority = #{priority}
        WHERE category_id = #{categoryId}
    </update>

    <!-- 根据父分类ID查找分类ID列表 -->
    <select id="findCategoryIdListByParentId" parameterType="int" resultType="int">
        SELECT
            category_id
        FROM qms_category
        WHERE parent_id = #{parentId}
        ORDER BY priority ASC, category_id ASC
    </select>

    <!-- 根据分类ID列表获取分类列表 -->
    <select id="findListByCategoryIdList" parameterType="map" resultType="Category">
        SELECT
        category_id AS categoryId,
        category_name AS categoryName,
        parent_id AS parentId,
        image_uri AS imageUri,
        description,
        priority,
        is_display AS display
        FROM qms_category
        <where>
            category_id IN (
            <foreach collection="categoryIdList" item="categoryId" index="index">
                <if test="index &gt; 0">,</if>
                #{categoryId}
            </foreach>
            )
        </where>
    </select>
</mapper>