<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kxai.qms.core.dao.CommentDao">

    <!-- 根据评论ID删除评论 -->
    <delete id="deleteByCommentId" parameterType="int">
        DELETE FROM qms_comment
        WHERE comment_id = #{commentId}
    </delete>

    <!-- 根据评论ID查找评论 -->
    <select id="findByCommentId" parameterType="int" resultType="Comment">
        SELECT
            comment_id  AS commentId,
            story_id    AS storyId,
            nickname,
            face_uri    AS faceUri,
            content,
            is_display  AS display,
            create_time AS createTime
        FROM qms_comment
        WHERE comment_id = #{commentId}
    </select>

    <!-- 计算列表对象数量 -->
    <select id="countListByQuery" parameterType="map" resultType="int">
        SELECT
        count(0)
        FROM qms_comment
        <where>
            1 = 1
            <if test="null != queryStoryId">
                AND story_id = #{queryStoryId}
            </if>
            <if test="null != queryContent and queryContent != ''">
                AND content LIKE concat('%', #{queryContent}, '%')
            </if>
        </where>
    </select>

    <!-- 根据条件查找列表 -->
    <select id="findListByQuery" parameterType="map" resultType="Comment">
        SELECT
        comment_id AS commentId,
        story_id AS storyId,
        nickname,
        face_uri AS faceUri,
        content,
        is_display AS display,
        create_time AS createTime
        FROM qms_comment
        <where>
            1 = 1
            <if test="null != queryStoryId">
                AND story_id = #{queryStoryId}
            </if>
            <if test="null != queryContent and queryContent != ''">
                AND content LIKE concat('%', #{queryContent}, '%')
            </if>
        </where>
        ORDER BY comment_id DESC
        LIMIT #{offset}, #{limit}
    </select>

    <!-- 修改 -->
    <update id="update" parameterType="Comment">
        UPDATE qms_comment
        SET nickname = #{nickname}, content = #{content}, is_display = #{display}
        WHERE comment_id = #{commentId}
    </update>

    <!-- 根据故事ID查找要显示的评论数量 -->
    <select id="countListByStoryId" parameterType="map" resultType="int">
        SELECT
            count(0)
        FROM qms_comment
        WHERE story_id = #{storyId}
    </select>

    <!-- 根据故事ID查找要显示的评论列表, 按时间倒序 -->
    <select id="findListByStoryId" parameterType="map" resultType="Comment">
        SELECT
            comment_id  AS commentId,
            nickname,
            content,
            create_time AS createTime
        FROM qms_comment
        WHERE story_id = #{storyId} AND is_display = #{display}
        ORDER BY comment_id DESC
        LIMIT #{offset}, #{limit}
    </select>

    <!-- 保存 -->
    <insert id="save" parameterType="Comment">
        INSERT INTO qms_comment (comment_id, story_id, nickname, face_uri, content, is_display, create_time) VALUES (#{commentId}, #{storyId}, #{nickname}, #{faceUri}, #{content}, #{display}, #{createTime})
    </insert>

    <!-- 更新显示状态 -->
    <update id="updateDisplay" parameterType="map">
        UPDATE qms_comment
        SET is_display = #{display}
        WHERE comment_id = #{commentId}
    </update>
</mapper>