<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kxai.qms.core.dao.MusicDao">

    <!-- 计算列表对象数量 -->
    <select id="countListByQuery" parameterType="map" resultType="int">
        SELECT count(0) FROM qms_music
        <where>
            1 = 1
            <if test="null != queryMusicName and queryMusicName != ''">
                AND music_name LIKE concat('%', #{queryMusicName}, '%')
            </if>
        </where>
    </select>

    <!-- 根据条件查找音乐列表 -->
    <select id="findListByQuery" parameterType="map" resultType="Music">
        SELECT
        music_id AS musicId,
        music_name AS musicName,
        album_id AS albumId,
        artist_id AS artistId,
        create_time AS createTime
        FROM qms_music
        <where>
            1 = 1
            <if test="null != queryMusicName and queryMusicName != ''">
                AND music_name LIKE concat('%', #{queryMusicName}, '%')
            </if>
        </where>
        ORDER BY music_id DESC
        LIMIT #{offset}, #{limit}
    </select>

    <!-- 保存 -->
    <insert id="save" parameterType="Music">
        INSERT INTO qms_music (music_id, music_name, album_id, artist_id, create_time) VALUES (#{musicId}, #{musicName}, #{albumId}, #{artistId}, #{createTime})
    </insert>

    <!-- 根据音乐ID查找音乐 -->
    <select id="findByMusicId" parameterType="int" resultType="Music">
        SELECT
            music_id    AS musicId,
            music_name  AS musicName,
            album_id    AS albumId,
            artist_id   AS artistId,
            create_time AS createTime
        FROM qms_music
        WHERE music_id = #{musicId}
    </select>

    <!-- 更新 -->
    <update id="update" parameterType="Music">
        UPDATE qms_music
        SET music_name = #{musicName}, album_id = #{albumId}, artist_id = #{artistId}
        WHERE music_id = #{musicId}
    </update>

    <!-- 根据音乐ID删除音乐 -->
    <delete id="deleteByMusicId" parameterType="int">
        DELETE FROM qms_music
        WHERE music_id = #{musicId}
    </delete>

    <!-- 根据条件查找音乐列表 -->
    <select id="findListByMusicName" parameterType="String" resultType="Music">
        SELECT
            music_id   AS musicId,
            music_name AS musicName
        FROM qms_music
        WHERE music_name LIKE concat('%', #{queryMusicName}, '%')
        ORDER BY music_id DESC
        LIMIT 20
    </select>

    <!-- 根据专辑ID查找音乐列表 -->
    <select id="findListByAlbumId" parameterType="int" resultType="Music">
        SELECT
            music_id    AS musicId,
            music_name  AS musicName,
            album_id    AS albumId,
            artist_id   AS artistId,
            create_time AS createTime
        FROM qms_music
        WHERE album_id = #{albumId}
        ORDER BY music_id DESC
    </select>
</mapper>