<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.mm2018.mmall.core.dao.OrdersDao">

    <!-- 保存 -->
    <insert id="save" parameterType="Orders" useGeneratedKeys="true" keyProperty="orderId">
        INSERT INTO mmall_orders (item_id, item_name, price, contact, phone, address, remark, status, create_time) VALUES (#{itemId}, #{itemName}, #{price}, #{contact}, #{phone}, #{address}, #{remark}, #{status}, now())
    </insert>

    <!-- 计算列表对象数量 -->
    <select id="countListByQuery" parameterType="map" resultType="int">
        SELECT count(0) FROM mmall_orders
        <where>
            1 = 1
            <if test="null != queryContact and queryContact != ''">
                AND contact LIKE concat('%', #{queryContact}, '%')
            </if>
            <if test="null != queryPhone and queryPhone != ''">
                AND phone LIKE concat('%', #{queryPhone}, '%')
            </if>
            <if test="null != queryStatus">
                AND status = #{queryStatus}
            </if>
            <if test="null != queryStartDate and queryStartDate != ''">
                AND create_time >= #{queryStartDate}
            </if>
            <if test="null != queryEndDate and queryEndDate != ''">
                <![CDATA[AND create_time <= #{queryEndDate}]]>
            </if>
        </where>
    </select>

    <!-- 根据条件查找列表 -->
    <select id="findListByQuery" parameterType="map" resultType="Orders">
        SELECT
        order_id AS orderId,
        item_id AS itemId,
        item_name AS itemName,
        price,
        contact,
        phone,
        address,
        remark,
        express,
        status,
        create_time AS createTime
        FROM mmall_orders
        <where>
            1 = 1
            <if test="null != queryContact and queryContact != ''">
                AND contact LIKE concat('%', #{queryContact}, '%')
            </if>
            <if test="null != queryPhone and queryPhone != ''">
                AND phone LIKE concat('%', #{queryPhone}, '%')
            </if>
            <if test="null != queryStatus">
                AND status = #{queryStatus}
            </if>
            <if test="null != queryStartDate and queryStartDate != ''">
                AND create_time >= #{queryStartDate}
            </if>
            <if test="null != queryEndDate and queryEndDate != ''">
                <![CDATA[AND create_time <= #{queryEndDate}]]>
            </if>
        </where>
        ORDER BY order_id DESC
        LIMIT #{offset}, #{limit}
    </select>

    <!-- 根据音乐ID查找音乐 -->
    <select id="findByOrderId" parameterType="int" resultType="Orders">
        SELECT
        order_id AS orderId,
        item_id AS itemId,
        item_name AS itemName,
        price,
        contact,
        phone,
        address,
        remark,
        express,
        status,
        create_time AS createTime
        FROM mmall_orders
        WHERE order_id = #{orderId}
    </select>

    <!-- 更新状态 -->
    <update id="updateStatus" parameterType="map">
        UPDATE mmall_orders
        SET status = #{status}
        WHERE order_id = #{orderId}
    </update>

    <!-- 更新状态 -->
    <update id="updateExpress" parameterType="map">
        UPDATE mmall_orders
        SET express = #{express}
        WHERE order_id = #{orderId}
    </update>
</mapper>