<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kxai.qms.core.dao.StoryTopicDao">

    <!-- 根据专题ID删除专题 -->
    <delete id="deleteByTopicId" parameterType="int">
        DELETE FROM qms_story_topic
        WHERE topic_id = #{topicId}
    </delete>

    <!-- 根据专题ID获取故事ID列表 -->
    <select id="findStoryIdListByTopicId" parameterType="int" resultType="int">
        SELECT
            story_id
        FROM qms_story_topic
        WHERE topic_id = #{topicId}
    </select>

    <!-- 根据故事ID获取专题ID列表 -->
    <select id="findTopicIdListByStoryId" parameterType="int" resultType="int">
        SELECT
            topic_id
        FROM qms_story_topic
        WHERE story_id = #{storyId}
    </select>

    <!-- 保存 -->
    <insert id="save" parameterType="map">
        INSERT INTO qms_story_topic (story_id, topic_id) VALUES (#{storyId}, #{topicId})
    </insert>

    <!-- 根据故事ID删除 -->
    <delete id="deleteByStoryId" parameterType="int">
        DELETE FROM qms_story_topic
        WHERE story_id = #{storyId}
    </delete>
</mapper>